.button {
  color: #1ad1b9;

  background-color: transparent;
  border-color: #1ad1b9;
}

.button:hover,
.button:active {
  color: #ffffff;
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  padding: 0.15rem 1.25rem;

  color: #1d1d1d;

  background-color: #1ad1b9;
  border-radius: 30px;
}
